
{% extends 'base.html' %}

{% block title %}Javascript streaming{% endblock %}

{%block content%}
<h3>javaScript stream</h3>
  <script>

      navigator.getUserMedia = navigator.getUserMedia ||
                         navigator.webkitGetUserMedia ||
                         navigator.mozGetUserMedia;

      if (navigator.getUserMedia) {
           navigator.getUserMedia({ audio: true, video: { width: 1280, height: 720 } },
              function(stream) {
                 var video = document.querySelector('video');
                 video.srcObject = stream;
                 video.onloadedmetadata = function(e) {
                   video.play();
                 };
              },
              function(err) {
                 console.log("The following error occurred: " + err.name);
              }
          );
      } else {
          console.log("getUserMedia not supported");
      }

  </script>
  <video id="camera"></video><br><br>
 <p><a href="{% url 'home' %}">Return to home</a></p>
{% endblock%}
